[2020-03-25 14:47] vielmetti opened #4 "Produce a binary release, for multiple architectures"
To aid in bootstrapping and testing, the project should publish a binary release (for at least two architectures) to allow users to get their hands on this code without needing at the very outset to have a full development environment.

[2020-03-25 14:50] vielmetti opened #5 "Fix lint failures"
In https://cloud.drone.io/packethost/boots/4/1/2 there are a set of failures in the `lint` step, which block automated testing of the code itself.

[2020-03-25 14:50] vielmetti commented on #4
Blocked on #5.

[2020-04-02 15:13] gauravgahlot opened #6 "Support for workflow mode"
To aid in bootstrapping a worker and providing it with the right Kernel parameters to execute a workflow.

[2020-04-03 14:20] vielmetti opened #7 "panic: required envvar is unset (ROLLBAR_TOKEN)"
Successful build on Ubuntu 18.04 for aarch64 under WSL, but when I follow the instructions in the README I get this:

[code]

[2020-04-03 14:44] parauliya commented on #7
@vielmetti ,  `boots` runs in a `docker container` and while starting a container with `boots image` we take care of all the environment variables which are required to run the boots binary. Please refer `docker-compose.yml` file in `tink` repo to know all the `envs` which are required to run `boots docker image`.

[2020-04-03 16:13] gauravgahlot commented on #7
@vielmetti @parauliya Considering the scenario where a user may not want to use Docker for the whole provisioned setup, I think it would be nice to have a list of all the environment variables.

We can have a list of environment variables required for each application to be ready, in the README. And, it would be nice if we can briefly mention what each is required for.

[2020-04-03 16:46] vielmetti opened #9 "man page for boots"
Provide a man page for `boots`, so that a sysadmin looking for help on command line options, flags, and other issues has a single place to go.

Suggest that the man page be written with markdown + pandoc, as described in [this tutorial](https://eddieantonio.ca/blog/2015/12/18/authoring-manpages-in-markdown-with-pandoc/) - no particular need to write raw troff. The file https://github.com/eddieanto

[2020-04-03 17:00] vielmetti commented on #9
This is related to #7 in that documenting the env variables can go in the `ENVIRONMENT` section of the man page.

[2020-04-06 04:05] vielmetti commented on #5
Builds at https://cloud.drone.io/tinkerbell/boots are now green, and pass lint. Closing.

[2020-04-06 04:05] #5 closed

[2020-04-06 09:45] alexellis opened #10 "Clarify conflicts with existing networking in README"
The README should clarify if this component will "play nice" with existing networks, or whether it needs to be run in a sandboxed / isolated network.

My worry is that running it on my 192.168.0.0/24 may break all the IP allocations. That concern can be alleviated by stating in the README how this software is designed to be used.

For instance [pixiecore](https://github.com/danderson/netboot/tree/

[2020-04-06 09:48] alexellis opened #11 "git-lfs instructions don't work on my OS"
The git-lfs instructions don't work on my OS:

<img width="522" alt="Screenshot 2020-04-06 at 10 48 53" src="https://user-images.githubusercontent.com/6358735/78545753-3bf72680-77f4-11ea-86f6-41c0cf80a30f.png">

Are there further instructions and/or testing required? Is there an assumed base-OS which isn't being communicated in the README?

Tested the instructions on Ubuntu 18.04 and Arch Linux wi

[2020-04-06 09:50] alexellis commented on #10
<img width="417" alt="Screenshot 2020-04-06 at 10 50 12" src="https://user-images.githubusercontent.com/6358735/78545865-677a1100-77f4-11ea-85d1-e3d1078671ec.png">

[2020-04-06 09:50] alexellis commented on #10
@nathangoulding who should this be assigned to, to get it resolved? A simple one-liner in the README is enough to disambiguate and reassure testers.

[2020-04-06 09:54] alexellis opened #12 "Provide git-lfs instructions for Linux users"
The git-lfs link only provides instructions for MacOS users.

<img width="1153" alt="Screenshot 2020-04-06 at 10 53 26" src="https://user-images.githubusercontent.com/6358735/78546189-e8390d00-77f4-11ea-9383-b49bf20dbf54.png">

I would like to suggest switching to this page which includes instructions for Linux users:

https://github.com/git-lfs/git-lfs/wiki/Installation

<img width="1082" alt="Sc

[2020-04-06 09:58] alexellis commented on #7
I ran into this too when testing this morning.

Maybe this requirement changed after the README was written? I'd suggest giving a sample that works in the README, even if the context for the env-var choices are written up somewhere else.

[2020-04-06 09:59] alexellis commented on #7
@parauliya the documentation doesn't mention a Docker container, so my understanding from the README is that it should run outside, otherwise the README should prefix the instructions with `docker run golang:latest` or similar before having us install git-lfs.

@nathangoulding do you see a path for usage inside and outside of the container, or should users only use compose?

[2020-04-06 10:03] alexellis commented on #7
I tried copying the instructions from https://github.com/tinkerbell/boots/blob/9d6cded511d1e7678ec601a29aac4137f25ecb5a/installers/rancher/main_test.go, but got as far as:

[code]

[2020-04-06 12:11] vielmetti commented on #7
@alexellis The puzzling thing to me is the information about what should be used as the "facility code" - that appears in the current code to resolve to a hard-coded lookup to a `install.$(FACILITY_CODE).packet.net` address, but for on-prem or homelab install there would need to be a change to that `mirror url`.

[2020-04-06 12:15] alexellis commented on #7
Perhaps we are now going outside of the happy path?

[2020-04-06 12:19] vielmetti commented on #11
For reference I was able to handle this with an `apt-get install git-lfs` before proceeding with the rest of the instructions.

There is a wiki here https://github.com/git-lfs/git-lfs/wiki/Installation with details, including some gory details for build from scratch.

[2020-04-06 12:44] vielmetti opened #13 "'panic: connect to cacher: lookup srv record, no such host' when used with MIRROR_HOST"
See https://github.com/tinkerbell/boots/blob/9d6cded511d1e7678ec601a29aac4137f25ecb5a/env/mirror.go#L49 and following -

The function buildMirrorBaseURL offers three options for setting a mirror site:

- set MIRROR_BASE_URL
- set MIRROR_HOST
- FacilityCode

If you use the FacilityCode option, it hard-codes a packet.net address. But if you set MIRROR_HOST you get further.

When I run

`ROLLBAR_TOKE

[2020-04-06 12:53] vielmetti commented on #13
more specifically this error log:

[code]

[2020-04-06 15:12] #12 closed

[2020-04-06 15:24] alexellis commented on #11
Seems I've created two issues somehow.

See also: #12

[2020-04-06 15:27] gauravgahlot commented on #11
Closing this issue, as it has been already addressed in issue #12.

[2020-04-06 15:34] alexellis commented on #11
@gauravgahlot whilst the link is better, the instructions are still a little on the ambiguous side.

May I suggest changing to:

[code]

[2020-04-06 15:35] alexellis commented on #11
@gauravgahlot my bad, this wasn't a duplicate, it was separate to clarify the instructions. The other was to fix the link to be more helpful for Linux users.

[2020-04-06 15:38] parauliya commented on #11
@alexellis Actually git-lfs won't be even required for the setup and we will be removing this from document as well once our testing will be completed.

[2020-04-07 15:43] #11 closed

[2020-04-07 15:59] #6 closed

[2020-04-20 06:32] invidian commented on #4
https://goreleaser.com/ is handy for generating binaries for multiple architectures/platforms. Also supports nice GitHub integration.

[2020-04-27 13:01] Ottovsky opened #23 "allow adding options to DHCP Offer"
Currently it is assumed that server will figure out the tftp server from `Next Server` field in DHCP Offer, unfortunately it is not always a case, and for example Raspberry Pie 4, requires `option 66` to be explicitly set in DHCP offering, otherwise RPi4 is ignoring DHCP responses. It would be helpful to be able to set in hardware, target definition the values for hardware specific dhcp options.

[2020-04-30 07:34] gauravgahlot opened #25 "Add support for new hardware data model"
Boots shall continue to support the existing model and shall also support the new model described below for tinkerbell.

The new data model:

[code]

[2020-04-30 07:46] gauravgahlot commented on #25
Ref proposal [RFC #1 Merge Hardware and Target models](https://github.com/tinkerbell/tink/wiki/RFC-%231---Merge-Hardware-and-Target-models)

[2020-05-13 15:43] Ottovsky opened #28 "boots should not panic on bad hardware data"
I made a mistake in my hardware data definition and I observed a fatal panic in the boots, which crashed it completely. I don't think it is a suitable behaviour, in my opinion it would be better to recover from panic and log error message, allowing boots to continue operating.
The panic was caused by the code in https://github.com/tinkerbell/boots/blob/master/job/job.go#L79 .

[2020-05-26 15:21] grahamc opened #34 "Consider a new name for `boots`"
I was trying to talk with @gauravgahlot about some stuff, and we had to be really careful about phrasing sentences to not get confused about if we were talking about a verb (to boot, it boots) or a noun (boots, the software).

Here  are some excerpts:

and then consider this sentence, and whether or not you're 100% certain as to what kind of log file you're about to see:

Maybe a new name could be

[2020-05-28 11:05] alexellis commented on #34
I quite looked "booty" that I saw on a similar OSS project.

[2020-05-28 14:20] nathangoulding opened #35 "boots should not PXE if no workflow defined"
If there is no active workflow for a worker, boots should not PXE boot a system. Right now, it will always PXE into the environment and noop, which is not a practical use case.

[2020-06-23 14:18] #25 closed

[2020-06-23 19:15] nathangoulding opened #45 "dhcp lease time issues"
With the introduction of new data model, it does not use the environment variable for default DHCP lease time. In addition, there is not a default lease time. This causes the value of 0 to be used, which creates a flood of DHCP requests to the DHCP server because of the short lease time. We should default this to 86400 if the user does not supply one.

[2020-06-24 08:29] rgl commented on #35
Instead of being a noop I would like to be able to specify a workflow for the machines that do not (yet) have a workflow. That way I can deal with them (e.g. run some kind of inventory application on them and show the machine in some kind of "un-provisioned/new" machines catalog).

[2020-06-24 15:21] nathangoulding commented on #35
@rgl Agreed this would be a good capability to create a default "wait-for-work" template + container that comes baked with Tinkerbell. We also need this in Packet, and I think would have broad appeal. Perhaps we can capture that in a separate issue.

[2020-06-24 19:50] rgl commented on #45
Its strange, but even setting the lease time in the hardware (nor dns servers) as the following, it does not work (boots still sends dhcp ack with 0 lease time and with 8.8.8.8 dns servers). Was this supposed to work with current boots?

[code]

[2020-06-29 16:30] DailyAlice commented on #34
I do think renaming boots will make writing and reading about it more clear and less context dependent. Just throwing some ideas out there:

- hubbard - as in Old Mother Hubbard, who lived in a shoe
- socks - shoe/foot related
- dust - as in pixiedust, which Tinkerbell uses in Peter Pan
- pixiedust - related to above, a little on the nose, though
- crook - @grahamc 's idea, as in shepard's crook

[2020-06-29 16:52] alexellis commented on #34
I think that Alice's names above are consistent with the Tinkerbell theme, if fully committing to that, any of them could work.

Here's what I wanted to add from my experience of being frustrated with developer tooling. I find that the terminology of projects like Brew are off-putting and hard to remember. Why? They require mental mapping and are non-intuitive making it difficult for new developer

[2020-06-30 13:13] DailyAlice commented on #34
I like the descriptive/use naming approach. `addresser`, `doorman`, and `offerd` are  my favorites. Also maybe a shortened `Netboots`?

One other thing to consider is that we could just have the convention of capitalizing "Boots" when referring to the service in text. It mostly side steps the issue, and it's a little hard to enforce, but worth a few minutes thought as well.

[2020-06-30 13:38] DailyAlice commented on #34
Discussion from InfraCloud - Provisioner Sync
- phonebook
- porter
- pixiedust (had some popularity due to boots being a small bit of code that only does a little bit)

[2020-06-30 15:17] alexellis commented on #34
"pixieboots"

"dustyboots"

[2020-07-01 14:20] DailyAlice commented on #34
I like `pixieboots` and `pixienet` a lot.

[2020-07-02 09:19] Cbkhare commented on #35
Updates so far.

-) Development & Testing activity:

1) Changes to fetch worker id for given hardware. Dev + test  (Done)

2) Changes to fetch workflow for a given worker id. Dev - (Done) + Test in progress.

3) Point 2 requires addition of a rpc client to fetch workflow, changes is required in both boots and tink. Actually, I was using existing client to fetch workflow and after i got go panic er

[2020-07-02 15:49] I-Lopez opened #53 "Vagrant: Boots service fails to start after"
## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Operating System and version (e.g. Linux, Windows, MacOS):

* How are you running Tinkerbell? Using Vagrant & VirtualBox, Vagrant & Libvirt, on Packet using Terraform, or give details:

* Link to your project or a code example to reproduce issue:

[2020-07-02 15:49] #53 closed

[2020-07-06 09:36] Cbkhare commented on #35
Tested this PR along with https://github.com/tinkerbell/tink/pull/200.

- Testing with Active workflow :- completed

`{"level":"info","ts":1593695857.2480636,"caller":"job/job.go:55","msg":"found active workflow for hardware 0eba0bf8-3772-4b4a-ab9f-6ebe93b90a94 with workflow id d0f730bc-894d-42de-8c37-9e423f5c761d","service":"github.com/tinkerbell/boots","pkg":"http","dhcp":"0eba0bf8-3772-4b4a-ab9

[2020-07-08 16:44] #45 closed

[2020-07-08 21:11] mmlb commented on #34
I too dislike uninformative cute names. I'll take a descriptive name over cute/clever, but I do like cute/clever names that don't take a lot of mental mapping effort (pbnj is nice, boots *used* to be called tinkerbell back in the proprietary days and was ok).

I like this.

This one too, boots gives network settings, and all sorts of boot files.

I interpret bootstrap to mean of a cluster, and con

[2020-07-08 21:12] mmlb commented on #34
`pixieboots` is my favorite I think.

[2020-07-17 15:26] #35 closed

[2020-07-21 14:24] nathangoulding commented on #10
@alexellis is this still valid?

[2020-07-21 14:26] nathangoulding commented on #13
@vielmetti Is this still valid after the improvements we've made?

[2020-07-21 14:27] nathangoulding commented on #7
We should remove this restriction.

[2020-07-21 14:28] nathangoulding commented on #28
This would be good to address, i.e. returning an error instead of panicing.

[2020-07-21 14:31] vielmetti commented on #13
@nathangoulding I'll give it a test with a fresh checkout.

[2020-07-26 19:49] displague commented on #4
I have a branch that can be used to build multi-arch builds, I don't know how this affects the normal drone build environment. I'd be happy to make a PR of this for further discussion:
https://github.com/tinkerbell/boots/compare/master...displague:multiarch?expand=1#diff-3254677a7917c6c01f55212f86c57fbf

[2020-07-29 08:59] gianarb opened #61 "Boots panics I presume because hardware data is not as it expects"
## Expected Behaviour

The worker boots correctly and exec the workflow

## Current Behaviour

I am using the vagrant setup with this hardware:

[code]

Boots panics:

[code]

## Possible Solution

I presume the recent change made with user-defined metadata #58 is involved here. Because I am not sending any of them by purpose. Technically I should be able to do it because they are not an unstructu

[2020-07-31 14:43] mmlb opened #62 "Configure Alpine networking via `ip` kernel command line"
## Expected Behaviour

Remove need for configuring Alpine networking via dhcp.

## Current Behaviour

A simple bounded retry loop with hard coded sleep times before, during and after calling udhcpc.

## Possible Solution

Alpine's init supports ip configuration via the `ip` kernel command line.
We have not been using it because it bypassed the nic detection logic (which we probably should have jus

[2020-08-04 04:29] displague opened #63 "Include error return checking in golangci-lint results"
## Expected Behaviour

Linting prevents risky code from being introduced into the project.

## Current Behaviour

The current “golanglint-ci” thresholds overlook common problems from building up due to not checking for errors.  When overlooked these problems lead to error-prone code.

## Possible Solution

If I had to guess, this linter was disabled for `main.go:48`: `defer sync()`.

An inline `//

[2020-08-18 13:28] lukaskalvenas opened #66 "Make TFTP session timeout tunable (defaults to 3 seconds)"
It would be nice to have the possibility to edit the TFTP session timeout for each worker server. Currently, if the worker server does not respond within 3-6 seconds, TFTP times out and the operating system installation ultimately fails.

## Current Behaviour
CLIENT MAC ADDR: $MAC  GUID: 00000000 0000 0000 0000 AC1F6BA50120
CLIENT IP: xxx.xxx.xxx.xxx  MASK: yyy.yyy.yyy.yyy  DHCP IP: zzz.zzz.zzz.zz

[2020-08-18 14:56] gianarb commented on #66
Just sharing what I discovered. We use a lib called [betawaffle/tftp-go](https://github.com/betawaffle/tftp-go). It serves a UDP server with a handler that implements TFTP. From my understanding, the timeout can't be changed:

https://github.com/betawaffle/tftp-go/blob/master/server.go#L164

serve() does not accept a timeout and its value is set by default to `3s`. @mmlb can you confirm or deny? I

[2020-08-18 14:59] mmlb commented on #66
all true. I've been wanting to either fork that repo and make some changes for a while now or look into an alternative. This may be the time to do so... probably the fork ;).

[2020-08-26 13:54] #61 closed

[2020-08-31 10:28] Ottovsky commented on #28
Looks good now, closing the issue.

[2020-08-31 10:28] #28 closed

[2020-08-31 12:11] rainleander opened #75 "Uniform Standards: Maintained Repository"
#50  Expected Behaviour

We believe this repository is Maintained and therefore needs the following files updated:

* [x] Flagged Public
* [ ] [The Maintained badge](https://github.com/packethost/standards/blob/master/glossary.md#maintained-badge)
* [ ] [The Maintained Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#maintained-statement)
* [x] [Getting S

[2020-09-06 05:55] geekgonecrazy opened #78 "Make use of params command optional for phone-home"
Working through getting my physical servers working with tinkerbell to start doing some experimentation.. they fail saying the “params” command is not found.

Leased from datacenter so flashing or updating ipxe might not be possible or ideal.

## Expected Behaviour

Boots

## Current Behaviour

Errors out at params not found

## Possible Solution

Maybe hardware option?  Or use query string

## St

[2020-09-07 06:47] gianarb commented on #78
I encountered the same issue when trying to use `osie` locally. The problem here is that `osie` `init.sh` fails if phone-home does not get resolved. This should not happen but it happens now because `osie` still uses a lot of things that only Packet needs.

@geekgonecrazy I know from Slack that you are doing something a bit different here because your cloud provider (ovh) does not give you full co

[2020-09-07 06:58] geekgonecrazy commented on #78
I can see some potential use cases for the phone home in general.

I tried using "params" even from the shell and the command is for sure not present in the version compiled and on this server. According to this: https://ipxe.org/cmd/params the ipxe had to be compiled with PARAM_CMD option defined.

I had some issues with tftp as well I think that you might be referring to.  No clue if related to

[2020-09-07 07:21] gianarb commented on #78
I think you can avoid `params` if your provider does not support that, you can replace manually the concrete values where you see `${}`.

Anyway, I think in 2 months we will have a very different `osie` image, smaller and easier to customize.

[2020-09-07 08:05] geekgonecrazy commented on #78
I think maybe misunderstood my problem.

All of the other ${} substitutions and variables work just like intended.  By params command I mean the literal [ipxe params command](https://ipxe.org/cmd/params) used here on this line: https://github.com/tinkerbell/boots/blob/master/ipxe/script.go#L34

All other ${} substitutions and variables work fine.  It’s simply that block:

https://github.com/tinker

[2020-09-08 04:08] geekgonecrazy commented on #78
This better explains the full thing setup and patch: https://geekgonecrazy.com/2020/09/07/tinkerbell-or-ipxe-boot-on-ovh/

[2020-09-08 13:23] mmlb commented on #78
Hey @geekgonecrazy in Packet we *always* boot our own version of ipxe exactly to avoid this situation (iPXE built without some things we need). I think removing the params would be fine in general, but is just a symptom of a bigger issue. Can you chain your own ipxe binary? That would be the most compatible and future-proof solution.

[2020-09-08 19:36] mmlb commented on #78
@geekgonecrazy you can do this like `chain tftp://${tinkerbell}/one_of_the_ipxe_files`, where one_of_the_ipxe_files is one of the files https://github.com/tinkerbell/boots/blob/master/job/dhcp.go#L105-L113

[2020-09-08 22:21] geekgonecrazy commented on #78
@mmlb ah interesting idea..

Downside is.. would have to some how make it only check net1 and not net0.  At least in my case.  Since their server always replies on net0 with my script (or theirs if I don't have one set in their api).

So would have to some how make the chained ipxe version only check net1.. or.. the script some how be able to detect its in my version of ipxe and chain to boots ins

[2020-09-08 23:10] geekgonecrazy commented on #78
[code]

actually I think this will work.. if only I can ever get ipxe.efi to boot.  It just hangs there indefinitely

[2020-09-09 14:53] mmlb commented on #78
@geekgonecrazy glad that works. We do have a patched version number which you can use to branch off of too. Its used to detect iPXEs burned into nics and our own iPXE. Its used in boot's dhcp handling code, but I'm not sure if ipxe sends the version info when fetching ipxe script though.

[2020-09-09 22:11] geekgonecrazy commented on #78
well it works as far as the logic works.  But the actual booting from the ipxe versions shipped does not.  I left for many hours and it just hangs there.

So we might need to fork off into another issue for this specifically.  But, none of the ipxe methods work from here. Not sure if any way to debug, but stays on:

![image](https://user-images.githubusercontent.com/51996/92660158-7f802000-f2bf-11

[2020-09-09 22:32] geekgonecrazy commented on #78
Tried out the various ones from https://boot.ipxe.org

https://boot.ipxe.org/snponly.efi - this one finally worked.  So would need to add that one, and determine what criteria is used to offer that one up to boot

[2020-09-10 18:47] mmlb commented on #78
I think its time to fork off into a different issue. snponly looks like something we'd want all the time anyway to be honest.

[2020-09-10 18:50] mmlb commented on #78
Also looking at the foreman config those would map to https://github.com/tinkerbell/boots/blob/master/dhcp/pxe.go#L23-L26 iirc.

[2020-09-10 19:36] mmlb commented on #78
DDG points me https://github.com/jljusten/tianocore/wiki/EBC-FAQ and similar, so it must be true.

[2020-09-12 06:55] geekgonecrazy commented on #78
According to: https://tools.ietf.org/html/rfc4578#section-2.1 architecture type 7 is:  EFI BC

[2020-09-16 10:31] rainleander commented on #75
CoC https://github.com/tinkerbell/boots/pull/80

[2020-09-18 08:09] rainleander opened #85 "Uniform Standards Request: Experimental Repository"
Hello!

We believe this repository is Experimental and therefore needs the following files updated:

* [ ] [The Experimental badge](https://github.com/packethost/standards/blob/master/glossary.md#experimental-badge) https://github.com/tinkerbell/boots/pull/84
* [ ] [The Experimental Statement in the README.md](https://github.com/packethost/standards/blob/master/glossary.md#experimental-statement)

[2020-09-18 08:10] rainleander commented on #75
Closed to convert this repository to experimental instead of maintained. https://github.com/tinkerbell/boots/issues/85

[2020-09-18 08:10] #75 closed

[2020-09-21 15:08] #85 closed

[2020-10-01 08:46] gianarb opened #87 "Move to GitHub action"
tinkerbell/tink uses GitHub action already. I migrated it from the internal drone to GH Action a few weeks ago.

We should move boots as well.

You can take inspiration from the tink repository BUT with [Docker Action v2](https://github.com/marketplace/actions/build-and-push-docker-images)

The requirement is the same as the one we have for tinkebell/tink. Migrate the current checks to GitHub acti

[2020-10-23 09:09] #87 closed

[2020-10-26 18:18] mmlb opened #93 "Github Actions produced container images are broken"
The GitHub Actions based CI is putting the boots binary into the container w/o setting the execute bit set thus breaking the container running using the default entrypoint.

[code]

[2020-10-28 21:40] mmlb commented on #93
Fixed by https://github.com/tinkerbell/boots/pull/94

[2020-10-28 21:40] #93 closed

[2020-12-03 18:07] displague opened #110 "When an IPXe URL is a data-url, expand the url into ipxe content"
## Expected Behaviour

When providing an IPXe URL, that is data-uri encoded, boots should expand this URI into the decoded content and pass this to IPXE.  This would be equivalent to `#!ipxe` userdata, but frees the userdata metadata to be consumed as userdata (cloud-init, ignition, etc).

## Current Behaviour

Data URIs are not handled.

## See also

* https://github.com/ipxe/ipxe/issues/174

[2020-12-22 16:07] gianarb opened #114 "Boots should pass Osie to registered hardware without workflow yet"
## Expected Behaviour
A registered hardware without a workflow registered should boot into Osie.

## Current Behaviour
Boots logs:

[code]
And it does not serve Osie via iPXE

## Possible Solution

Serve osie even if there are not workflow registered.

## Steps to Reproduce (for bugs)
1. Start tinkerbell with Vagrant or what ever
2. Register hardware
3. Start the hardware without any workflow

##

[2020-12-22 16:11] mmlb commented on #114
Yeah that lines up with https://github.com/tinkerbell/proposals/tree/master/proposals/0016. We'd need a configuration for a default address pool we can hand out IPs from.

[2020-12-22 16:14] gianarb commented on #114
I think it is related but not strictly related. I am registering my own hardware at the moment so IP is set, but BOOTS is too self defensive and it does not care because a workflow is not registered. The workaround for me is to have a hello world workflow for each hardware.

[2020-12-22 16:17] mmlb commented on #114
oh sorry I didn't fully grasp that. Yep I think that makes a ton of sense.

[2021-01-04 16:12] displague opened #116 "Remove binaries from the project"
## Expected Behaviour

Project binaries should be external artifacts, built through automation, not included in the git repository.

## Current Behaviour

Binaries are included in the project and are expected to be compiled and updated by contributors. The binaries must then be manually verified through recompiling (with the same tools) and checksum verification.  This slows our ability to accept

[2021-01-05 15:35] displague commented on #4
Fixed by #94 and #107

[2021-01-05 15:35] #4 closed

[2021-01-07 04:59] geekgonecrazy commented on #116
This would help a lot.  A few other changes I’d like to contribute here on this code base but that part made this component one I drag my feet wanting to even touch

[2021-01-12 08:46] gianarb commented on #66
@mmlb apparently we have a fork now

https://github.com/tinkerbell/tftp-go

I think @mikemrm did that, can we update that fork and fix this issue?

[2021-01-12 16:59] mmlb opened #118 "Unexport CreateFromIP"
CreateFromIP is only used by tftp.go, and its able to use it because it already makes use of a single user helper function that does the host:port split. We should just do `CreateFromRemoteAddr(c.String())` and avoid similar looking calls. Then we can just drop `tftpClientIP`.

[2021-01-14 17:42] mmlb commented on #116
Yep I think this will definitely help getting things upstream, my main hangup is that then this code base then loses its `go get`edness.

[2021-01-15 16:26] mmlb commented on #116
:fist_right: lfs, https://github.com/tinkerbell/boots/pull/79#issuecomment-761007091. I guess just one more reason for this then :D.

[2021-01-29 11:14] Cbkhare opened #125 "Worker doesn't pick up the new workflow"
When a worker is rebooted via an action in the workflow, The worker picks up the workflow which is stuck in `running` state and as a result, it **never** picks up the new workflow.
This is in reference to the recent commit https://github.com/tinkerbell/boots/pull/115.

## Expected Behaviour
Ideally, changes in this commit https://github.com/tinkerbell/boots/pull/115 should be rectified to handle t

[2021-01-29 17:17] #116 closed

[2021-02-01 20:45] mmlb commented on #125
We can't do anything about this at the moment I think. The way around this is to sleep for a little bit before doing the echo so that tink-worker has had the ability to send progress to tink-server.

[2021-02-01 20:47] mmlb commented on #125
Hmm can you give boots logs for the attempted dhcp. It should allow the dhcp/tftp/...netboot.

[2021-02-09 17:05] detiber opened #129 "Need better way to override console configured for osie"
Currently to override the default console for a given hardware you need to override the facility_code, such as `"onprem console=ttyS0"`. Otherwise it will use hardcoded values based on the architecture and plan_slug.

## Expected Behaviour
There should be a more straightforward way to override the console without having to resort to hacking the facility_code.

## Current Behaviour
One needs to ove

[2021-02-17 16:09] mmlb commented on #125
The action is the issue here, as written it doesn't allow for tink-server to report back success and so naturally we re-run it. This is working as intended. You'll want to use the reboot action from https://github.com/tinkerbell/hub/issues/13 when its ready.

[2021-02-17 16:09] #125 closed

[2021-02-17 19:54] Smithx10 opened #130 "boots doesn't compile using `go build`: undefined: ipxe.MustAsset"
[root@73a5a635-85b2-4a26-cd19-bd3e89bc9c36 boots]$ go build -v
github.com/tinkerbell/boots/tftp
# github.com/tinkerbell/boots/tftp
tftp/tftp.go:15:20: undefined: ipxe.MustAsset
tftp/tftp.go:16:20: undefined: ipxe.MustAsset
tftp/tftp.go:17:20: undefined: ipxe.MustAsset
tftp/tftp.go:18:20: undefined: ipxe.MustAsset

[2021-02-17 19:55] Smithx10 commented on #34
Call it "shoes".

[2021-02-17 19:58] mmlb commented on #130
Hey @Smithx10 can you try with `make`, that should work. I've been noodling a way to still be `go build`able with just degraded functionality.

[2021-02-18 20:02] Smithx10 commented on #130
@mmlb  Thanks for the quick response,

I'm attempting to compile for amd64.

[code]

[2021-03-11 00:04] jacobweinstock opened #132 "Question on HTTP endpoints purpose"
Hello, I am wondering what the use-cases are for Boots serving these HTTP endpoints?

- [/hardware-components](https://github.com/tinkerbell/boots/blob/70440b27cb1559770ef485596b9c3a4a253a4dfc/http.go#L82)
- [/problem](https://github.com/tinkerbell/boots/blob/70440b27cb1559770ef485596b9c3a4a253a4dfc/http.go#L71)
- [/phone-home](https://github.com/tinkerbell/boots/blob/70440b27cb1559770ef485596b9c3

[2021-03-11 15:30] mmlb commented on #132
Good questions and def in need of being documented. These are all things that we want to remove from boots in the near future, one of the reasons for workflow services.

/hardware-components: Is used to post back discovered hw and fw versions. Its used during hw discovery and during deprovision.

/problem: Is used by osie for provision/deprovision to pass a failure from the scripts.

/phone-home:

[2021-03-11 17:52] #114 closed

[2021-03-22 23:42] jacobweinstock commented on #132
thanks for the detail @mmlb !

[2021-03-22 23:42] #132 closed

[2021-03-25 13:48] mmlb opened #138 "Add retries to iPXE script when fetching files"
The iPXE file fetches can run into temporary network issues when downloading the kernel/initramfs files.
We should add some retry logic.

## Expected Behaviour

Temporary network failures do not cause the iPXE boot to fail.

## Current Behaviour

iPXE boot will fail if there's a network issue.

[2021-03-25 13:48] mmlb opened #303 "Add retries to iPXE script when fetching files"

[2021-03-25 13:48] mmlb opened #333 "Add retries to iPXE script when fetching files"
The iPXE file fetches can run into temporary network issues when downloading the kernel/initramfs files.
We should add some retry logic.

## Expected Behaviour

Temporary network failures do not cause the iPXE boot to fail.

## Current Behaviour

iPXE boot will fail if there's a network issue.

[2021-04-27 13:35] #10 closed

[2021-04-30 18:58] mmlb opened #155 "Replace implicit boot from hdd with explicit via ipxe script"
There are times when we want to force a PXE booting machine to instead boot from disk. Think of machines that have netboot as the default boot option. We want to do this to avoid waiting for netboot
to timeout and proceed to boot from disk for each and every boot. We currently do this by sending a tftp file named `/nonexiistent` or `/pxe-is-not-allowed` (depending on if #149 is merged yet) but @sp

[2021-04-30 18:58] mmlb opened #304 "Replace implicit boot from hdd with explicit via ipxe script"
There are times when we want to force a PXE booting machine to instead boot from disk. Think of machines that have netboot as the default boot option. We want to do this to avoid waiting for netboot
to timeout and proceed to boot from disk for each and every boot. We currently do this by sending a tftp file named `/nonexiistent` or `/pxe-is-not-allowed` (depending on if tinkerbell/boots#149 is mer

[2021-05-04 16:44] mmlb commented on #130
Hey @Smithx10 the makefile and build setup is tailored for building under nixos/nix-shell but can be tailored to your system. It all depends on what the arm64 cross compiler for your system is named, for example under ubuntu it would be `CROSS_COMPILE=aarch64-linux-gnu-` (installed via https://github.com/tinkerbell/boots/blob/master/ipxe/ipxe/build.sh#L5-L6).

We can probably do a better job of ch

[2021-05-04 16:47] mmlb opened #157 "Re-enable http sanboot"
When the iPXE build/config was reworked I got rid of sanboot. Turns out that breaks some EM usage and should be re-enabled.

## Expected Behaviour

`sanboot http://boot.ipxe.org/freedos/fdfullcd.iso` should work.

## Current Behaviour

sanboot command doesn't exist.

[2021-05-05 13:16] #157 closed

[2021-06-03 20:29] fonsecas72 commented on #23
@Ottovsky did you managed to make boots/tinkerbell work with a raspberry pi 4 ?

[2021-06-04 06:56] Ottovsky commented on #23
Hey @fonsecas72 , yes I made it work, here is a description how I did it https://github.com/ContainerSolutions/tinkerbell-rpi4-workflow.

[2021-06-04 07:04] fonsecas72 commented on #23
I'm trying to make it work for some days and still struggling to understand why it does not work. Did you followed exactly the setup from that repo? Any tweaks? 😔

[2021-06-04 07:27] Ottovsky commented on #23
It worked for me, but it was a year ago, and I haven't checked the setup since then, so not sure if the current tinkerbell version will still work with rpi4 :(

[2021-06-05 10:49] fonsecas72 commented on #23
the kernel and root fs from that repo are not available anymore. perhaps that's what I'm missing 🤔

mine just stops here

![image](https://user-images.githubusercontent.com/1098293/120889243-0ca89900-c5f4-11eb-8de0-2f1f7f6d86d2.png)

[2021-06-10 01:46] jacobweinstock opened #163 "is git-lfs needed?"
Is the only file we store with git-lfs `ipxe/bin/snp-hua.efi`? If so, why do we need git-lfs? If I'm not mistaken this file is only about 220KB. Seems unnecessary. Maybe, I'm missing something?

If this is not the only file we store with git-lfs, does anyone know the others? The `.gitattributes` only shows `snp-hua.efi`.

[2021-06-10 03:24] jacobweinstock commented on #163
just found this: https://github.com/tinkerbell/boots/commit/8442c6efffb25c23cc9d65baaa9caecc9e7d71a7
looks like maybe this last binary is from these days. If that is the case, I would propose we remove it from git-lfs.

[2021-06-14 09:22] Ottovsky commented on #23
Yes, unfortunately I am no longer with Container Solutions, so can't check what is wrong with the links, I will check if I have any of those artifacts somewhere, so I can re-upload them, if not I posted some hints in this [issue](https://github.com/ContainerSolutions/tinkerbell-rpi4-workflow/issues/6) on how to build your own initramfs and kernel for rpi4

[2021-06-14 09:40] fonsecas72 commented on #23
thanks! that's useful 🙇

[2021-06-16 20:28] nshalman opened #166 "iPXE fails to boot when using the latest LetsEncrypt trust chains"
Any HTTPS server using LetsEncrypt might suddenly stop working with our iPXE binaries after the next certificate refresh.

## Expected Behaviour

iPXE boots normally

## Current Behaviour

[code]
## Context

- @grahamc's boot server refreshed its LE certificate and iPXE booting in @equinixmetal datacenters started failing.
- https://community.letsencrypt.org/t/production-chain-changes/150739
- ipx

[2021-06-16 20:35] grahamc commented on #166
With NixOS 21.05 you can work around this by preferring their shorter chain:

[code]

[2021-06-29 15:47] splaspood commented on #9
It seems that we should have consistent standards for CLI/ENV arguments and the documenting thereof.    As much as I have a fondness for man, I wonder if that's really the place where most people will go to find this documentation given today's common deployment methods and use cases.

[2021-06-29 16:57] mmlb commented on #13
@vielmetti there are 2 options here:

1. If you do want to run in cacher mode
    1. Set CACHER_CERT_URL and CACHER_GRPC_AUTHORITY, and it'll avoid the SRV look ups
2. If you actually want to use tinkerbell mode instead:
    1. Set DATA_MODEL_VERSION=1 (to set boots to tinkerbell mode), TINKERBELL_CERT_URL, and TINKERBELL_GRPC_AUTHORITY to avoid SRV look ups

I suspect you want option 2. Also http

[2021-07-22 03:28] Belchy06 opened #178 "Proposal 0016, Default Workflows"
## Expected Behaviour

It would be very helpful to have default workflows for Tinkerbell, meaning that when a currently unknown machine sends out a DHCPDISCOVER request, Boots will push the new hardware and create a workflow for the new machine from the default template.

## Current Behaviour

Currently, you must manually push each new piece of hardware you expect and then manually create a workfl

[2021-08-02 19:15] #163 closed

[2021-08-04 14:45] nshalman opened #186 "Build is broken since update to Alpine 3.14"
The automated builds are broken on arm:
https://github.com/tinkerbell/boots/runs/3198503141
https://github.com/tinkerbell/boots/runs/3242069576

## Expected Behaviour
The builds of the master branch should work on all supported architectures.

## Current Behaviour
The builds fail on arm.

## Possible Solution
Downgrade to Alpine 3.13
See #185

[2021-08-04 14:50] #186 closed

[2021-08-05 15:25] jacobweinstock opened #190 "Proposed Boots roadmap"
The following is a proposed roadmap of work items for Boots.
They are not ordered in terms of priority.
I don't know if we can get a Github project created in this repo to maybe track these.
If so, I can create all the tickets.

- [x] define design philosophy
- [x] turn up golangci-lint
- [ ] document coding style guide
- [x] document data model relationship to code logic
- [x] installer registrat

[2021-08-10 18:15] nshalman commented on #23
Is it safe to close this issue as https://github.com/ContainerSolutions/tinkerbell-rpi4-workflow contains a successful implementation of provisioning, @Ottovsky?
@fonsecas72 were you able to get things working?

[2021-08-11 11:47] Ottovsky commented on #23
If no one else is insisting on this feature, feel free to close

[2021-08-12 15:50] jacobweinstock commented on #110
sorry for the dumb questions, i don't think i fully understand the value here.
Is this just a different format to provide the ipxe script?
what data would be encoded here? the kernel?
how is this any different than a normal ipxe script?
would you mind expanding on this statement? "frees the userdata metadata to be consumed as userdata"

[2021-08-12 17:53] displague commented on #110
When providing an IPXE Script, you can currently take advantage of the userdata field with a value of `#!ipxe\n...`.  In doing so, you lose the ability to take advantage of userdata for the intended purpose, which is for tools like cloud-init and afterburn to have a predefined location to discover platform-specific metadata.  While this location is hardcoded into some systems (afterburn) it is gen

[2021-08-12 18:02] displague commented on #110
The IPXE Script would be encoded.

To provide an ipxe_script_url today, you must have a web server that is accessible to the node, which may have networking restrictions that prevent that.  But allowing for public internet routing and assuming I have a web-host available and my data is not sensitive (too many assumptions), I can park my IPXE Script URL on Github.

`ipxe_script_url=https://gist.git

[2021-08-12 18:10] displague commented on #110
I understand that one way to consume IPXE is to take advantage of relative paths for resources like the initrd and kernel, treating the host as a location for IPXE scripts and other assets.

For example, if `https://myhost/ipxescript.ipxe` references a kernel and initrd without a base path, I believe it is presumed that the base path to those resources (if not provided) will be `https://myhost/`.

[2021-08-12 21:16] jacobweinstock commented on #110
@displague thank you for the great explanations. I do believe I understand now.

With https://github.com/tinkerbell/boots/pull/192, being merged, there is now a new field `metadata.instance.operatiing_system.InstallerData.Script` that can be used for `custom_ipxe` and ipxe scripts. This frees up the `userdata` field for use with cloud-init, afterburn, etc.

Does this solve the issue the data-URI s

[2021-08-17 16:02] tobert opened #195 "misbehaving DHCP client can crash boots"
## Expected Behaviour

Boots shouldn't crash no matter what kind of traffic we throw at the DHCP server.

## Current Behaviour

A dhcp client that sends a malformed packet can crash the service.

This example sends an invalid client GUID that causes a crash:

`udhcpc -q -v PXEClient -x 0x5d:0000 -x 0x61:aaaaaaaa4a525bd43517df7f8b47`

## Possible Solution

Looks like it's in the dhcp4-go logging co

[2021-08-17 21:06] mmlb commented on #195
Thanks Amy

[2021-08-22 21:30] mmlb opened #196 "bou.ke/monkey is proprietary"
I just came across the license for bou.ke/monkey module (https://github.com/bouk/monkey/blob/master/LICENSE.md) which explicitly states *not* giving permission for any use for anyone, as such we are currently in violation and should remedy.

## Expected Behaviour

boots follows license requirements of dependencies

## Current Behaviour

boots is in violation of bou.ke/monkey's license

## Possible

[2021-08-22 21:31] mmlb commented on #196
I'll open up a PR first thing tomorrow.

[2021-08-22 21:37] mmlb opened #197 "We should have a dependency license scanner"
A proprietary dependency was introduced in #134 and we did not catch it. I'm pretty sure something like https://snyk.io/ or similar would have caught it. We should search/pick a tool/service that provides this and plug it into PR checks.

[2021-08-23 15:28] mmlb opened #199 "Reintroduce tests removed via #198"
PR #198 removed some useful tests due to their use of a proprietary library. We should figure out a way to reintroduce the tests. By reintroduce, I mean the functionality of the tests and not necessarily the exact same implementation, in fact it would be nice to avoid needing something like monkey patching, possibly by making use of standalone mode?

[2021-08-24 15:47] jacobweinstock commented on #13
Hey @vielmetti, looks like it's been quite a while. are you still experiencing this?

[2021-08-24 19:14] vielmetti commented on #13
This can be closed - so much has changed since I reported it and it's not a current concern.

[2021-08-24 19:14] #13 closed

[2021-08-24 21:31] #196 closed

[2021-08-31 16:24] displague commented on #178
In the 8/31 Tinkerbell meeting, this proposal was discussed briefly.  Some thoughts on the overall approach:

Tinkerbell should avoid taking on more responsibilities.  A default workflow could take on this function.

Workflows could be matched to hardware ID using some matching system rather than `==` comparisons.
For example, one component of a matching system could be a regexp pattern.  A "Raspb

[2021-09-01 10:39] jacobweinstock commented on #138
If I'm not mistaken, @mmlb is talking about [this](https://github.com/tinkerbell/boots/blob/ba3a3fef424ebfd7125b08ae99dcb9631bc911a8/job/ipxe.go#L68) area, which is in the function [serveBootScript](https://github.com/tinkerbell/boots/blob/ba3a3fef424ebfd7125b08ae99dcb9631bc911a8/job/ipxe.go#L49).

[2021-09-02 23:13] mmlb commented on #62
Nope lets kill this as its not likely to be useful to non-alpine OSes.

[2021-09-02 23:13] #62 closed

[2021-09-02 23:26] mmlb commented on #138
Actually nope, its actually in the installers: https://github.com/tinkerbell/boots/blob/ba3a3fef424ebfd7125b08ae99dcb9631bc911a8/installers/osie/main.go#L54. We'd probably need a bounded loop that breaks on success.

[2021-09-02 23:52] tstromberg commented on #138
If it helps, I've had good luck with using this library for exponential backoff+jitter, and have seen it used elsewhere in Tinkerbell (tink?): https://pkg.go.dev/github.com/cenkalti/backoff/v4

[2021-09-03 17:54] mmlb commented on #138
The http request is not from boot's side. Its ipxe doing the fetches we'd need to do the retries/backoff in the iPXE script.

[2021-09-07 15:55] tstromberg commented on #34
Brought up in the Triage meeting. Folks seem open to the idea, as `boots` as a name does becoming confusing in conversation.

If anyone is interested in taking this on, I don't think there will be much disagreement. It may become a bit less important with the future refactor work in boots. *shrug*

[2021-10-06 06:02] rgl opened #210 "Add support for UEFI HTTP Boot"
## Expected Behaviour

I expected to be able to use [UEFI HTTP Boot](https://github.com/tianocore/tianocore.github.io/wiki/HTTP-Boot) to boot a machine.

## Current Behaviour

Only PXE Boot is supported.

## Possible Solution

I've got dnsmasq serving HTTP Boot at:

https://github.com/rgl/talos-vagrant/blob/6ce54f83e4066bc60415d697f5c4a7a6cd5ac561/provision-dnsmasq.sh#L53-L59

[2021-10-06 13:56] mmlb commented on #210
Am I right thinking that you want to keep boot's dhcp support and detect a UEFI machine and serve the http script instead of iPXE binary?

[2021-10-07 06:16] rgl opened #213 "Move ipxe to a dedicated repository?"
Currently ipxe is built in this repository, that makes the build of boots take longer and is more complex.

What do you think about:

1. moving the ipxe build to the boots-ipxe repository.
2. build ipxe in a GitHub Actions inside a docker container using buildx from a ubuntu 20.04 image.
3. publish an artifact for each arch as a GitHub Release.
4. modify the boots build to use the GitHub Release.

[2021-10-07 13:23] mmlb commented on #213
Hey @rgl this sounds like a great suggestion, I like it. There really is no need to be wasting electricity building ipxe over and over again.

I have just 2 push backs.
1. I don't see the benefit of building using buildx over make
2. I'd rather stick with nix's pinned inputs over ubuntu.

[2021-11-16 16:43] #23 closed

[2021-11-23 19:15] tstromberg opened #225 "Investigate PXE issue with Lenovo ThinkSystem HR330A (Ampere eMAG)"
Apparently, https://github.com/tinkerbell/boots/pull/216 may have broken PXE boot on this hardware. I'm not sure what BIOS version, however.

@mmlb mentioned this on chat:

#223 may fix this, but if we can confirm the problem we should probably just roll-back #216 and bring it back without the path changes.

[2021-12-02 14:22] mmlb commented on #210
Re opening because I had to revert #216 (due to #225). I've split the one commit from this PR to multiple independent ones to facilitate bisecting (currently at https://github.com/mmlb/boots/tree/split-and-fix-http-boot-for-c2.large.arm for now).

[2021-12-09 19:57] #210 closed

[2021-12-09 19:57] #225 closed

[2022-01-04 01:34] jmpolom commented on #178
For example, one component of a matching system could be a regexp pattern. A "Raspberry Pi Default Workflow" could match all Pi MAC Addresses (B8:27:EB:.*, https://www.wireshark.org/tools/oui-lookup.html).

I'm very interested in tinkerbell/boots gaining support to do "wildcard" hardware matching, initially just using a regex to match MAC addresses much like @displague provided as an example. I pr

[2022-01-11 16:47] displague commented on #7
Closing this as the original issue is no longer present (`ROLLBAR_TOKEN` is not required).
https://github.com/tinkerbell/boots/blob/65d8c38/cmd/boots/main.go#L67-L78

Please open additional images and refer back to this issue if other problems expressed in this thread need to be resolved.

[2022-01-11 16:47] #7 closed

[2022-01-20 11:43] sheepcat opened #231 "Baremetal auto enlist/discover"
now we can add hardware by only one way:  collect the mac and assign ip  in  advance.

Is there any plan to add a feature that  hardware can enlist automaticlly?

[2022-02-03 13:51] displague commented on #190
@jacobweinstock I think we should create trackable issues for each of these items (although some items may fit into the same issue). This roadmap issue contains items that could extend for sometime. The bulleted items are missing context that would be provided in a dedicated issue.  Those issues can be linked to in the bulleted list above. I think we could then create a meaningful epic of this iss

[2022-02-11 18:49] #130 closed

[2022-02-11 18:49] #213 closed

[2022-03-18 04:53] sheepcat opened #239 "efficient way to collect mac address"
Tinkerbell need to know the mac address of the machine previsiously
is there any way to collect the mac address  of the machine efficiently?
expecially the mac of PCI-e  Nic Card.

with great appreciate.

[2022-03-23 20:11] jacobweinstock opened #243 "feature/bug: expected behavior around short circuiting a netboot request"
Currently, there is logic to short circuit a netboot request based on some tink/cacher hardware data. see [here](https://github.com/tinkerbell/boots/blob/e83221a522856255ee8bb475d1dc194e6cbcb6b5/job/dhcp.go#L116-L139). I looked through the Tink code base and didn't see any code paths where hardware data was updated based on a workflow progression. The tink worker sends report statuses as it progre

[2022-03-28 10:01] chechuironman opened #245 "socker-sompose dhcp x509 certifcate error"
i'm running the docker compose quick start and Im getting this error:

{"level":"info","ts":1648207945.5831676,"caller":"boots/dhcp.go:91","msg":"retrieved job is empty","service":"github.com/tinkerbell/boots","pkg":"main","type":"DHCPDISCOVER","mac":"ac:1f:6b:c7:ba:da","err":"discover from dhcp message: get hardware by mac from tink: rpc error: code = Unavailable desc = connection error: desc = "

[2022-04-03 16:51] jacobweinstock commented on #243
Thinking about this some more. There is currently functionality that allows a user to provide a custom ipxe script. In this custom ipxe case, tink worker is never launched. So if a solution to this issue is to have boots look for an "active" workflow, we'll need to think about how to handle this same idea with custom ipxe scripts.

[2022-04-04 17:47] rothgar commented on #243
I updated my tink stack and found that once my system successfully completes the workflow on the next boot, boots doesn't respond from that mac address with a pxe response. This does the intended thing but has a different side effect I didn't anticipate.

Once my servers fail PXE and boot from the local disk my systems (for reasons unknown to me) add a UEFI boot item to the *top* of the boot order

[2022-05-03 15:36] chrisdoherty4 commented on #231
Dupe of #178. @jacobweinstock to close.

[2022-05-03 15:36] #231 closed

[2022-05-03 15:53] nshalman commented on #239
Duplicated of #178

[2022-05-03 15:53] #239 closed

[2022-05-05 19:30] micahhausler opened #266 "Consolidate data model selection, add supporting flags for env vars."
Boots uses environment variables for much of its configuration, at times quite deep into the stack. It would be much cleaner to move all that configuration up to `main` level configuration, and have corresponding flags so `-h` help output can be self-documenting.

[2022-05-12 10:11] nicop311 opened #270 "Doc: dead link in iPXE Doc on main branch"
Hello all :smiley:
There is a dead link on **main** branch in the file [docs/IPXE.md](https://github.com/tinkerbell/boots/blob/c670ca8c03d5e7c4b951cac56724d21331fb7568/docs/IPXE.md):

At [this line](https://github.com/tinkerbell/boots/blob/c670ca8c03d5e7c4b951cac56724d21331fb7568/docs/IPXE.md?plain=1#L9), link `[ipxe/ipxe/](../ipxe/ipxe/)` is dead. And I don't know where the `.h` files are or if t

[2022-05-20 10:18] chrisdoherty4 opened #274 "Stop building 32b images"
In a [short discussion on slack](https://cloud-native.slack.com/archives/C01SRB41GMT/p1652381564136779), we agreed it doesn't make sense to continue building services for 32b platforms.

This issue is to strip them from the CI.

[2022-05-23 14:41] mmlb commented on #178
We should discuss this in https://github.com/tinkerbell/tink/discussions/522. This is a tink feature not so much a boots one an as such doesn't make sense as an issue here.

[2022-05-23 17:06] #274 closed

[2022-06-01 21:15] chrisdoherty4 opened #279 "Provide a configurable minimum lease expiry for DHCPOFFERs"
Boots uses the lease expiry defined on hardware resources when serving `DHCPOFFER`s. It would be useful to provide an option on launch to set a minimum bound boots uses for lease expiry and possible default to something sensible like 30m so as to avoid misconfiguration on hardware resource lease expiry.

[2022-07-01 14:58] vielmetti commented on #166
I spent some time looking at the current situation for this issue, looking especially for projects that have successsfully worked around this, projects which are carrying the PR 116 patch, and organizations that are blocked for whatever reason.

## workarounds

* Flatcar uses the "ISRG Root X1" chain, per https://github.com/flatcar-linux/Flatcar/issues/527
* NixOS uses the "ISRG Root X1" chain, as

[2022-07-01 15:39] jacobweinstock commented on #270
Hey @nicop311, thanks for reporting this. We've actually moved ipxe building to another repo. https://github.com/tinkerbell/ipxedust We need to clean up this bad link. The doc lives here: https://github.com/tinkerbell/ipxedust/blob/main/docs/IPXE.md

[2022-07-01 15:44] jacobweinstock commented on #245
Hey @chechuironman, very sorry for the delayed response here. Which docker-compose are you running? The one in this repo uses the "standalone" backend/data model. Maybe you're using the [sandbox](https://github.com/tinkerbell/sandbox) repo?

[2022-07-01 15:55] jacobweinstock commented on #66
iPXE binaries served via tftp now have a configurable timeout. please see: https://github.com/tinkerbell/boots/blob/5faab799ed5c1ceea501df7b3768effbbd7261ed/cmd/boots/main.go#L401

[2022-07-01 15:55] #66 closed

[2022-07-01 20:43] jacobweinstock commented on #63
resolved by https://github.com/tinkerbell/boots/pull/283

[2022-07-01 20:43] #63 closed

[2022-08-03 11:49] chrisdoherty4 opened #284 "Release 0.7"
Discussion issue for 0.7.

[2022-08-03 16:03] jacobweinstock commented on #284
https://github.com/tinkerbell/boots/releases/tag/v0.7.0

[2022-08-03 16:03] #284 closed

[2022-09-28 02:55] jacobweinstock opened #296 "Add documentation around updated components in Boots"
Update Boots (TFTP/DHCP/etc) explanations, adding details on componentry. Cover the FAQ of "Can I use my own DHCP?" (Why not)

[2022-10-28 01:28] ryanfolsom commented on #195
Here's the panic from my environment:

[code]

The `formatUUID` function of the logger is slicing the byte slice it receives as input without bounds checking: https://github.com/packethost/dhcp4-go/blob/master/logging.go#L91-L93

Would returning an unformatted version of the value received be preferable in this situation?

[2022-11-30 03:19] jacobweinstock opened #302 "Deprecate and remove Cacher backend"
The Cacher backend has never been a part of the Tinkerbell stack. It is a remnant of the Equinix Metal implementation. This backend should be deprecated and removed.

## Expected Behaviour

## Current Behaviour

## Possible Solution

## Steps to Reproduce (for bugs)

1.
2.
3.
4.

## Context

## Your Environment

* Operating System and version (e.g. Linux, Windows, MacOS):

* How are you running Ti